#projects {
  margin: 0 auto;
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

.projectsTitle {
  margin: 1rem 0;
  font-size: 3rem;
  color: #1ab6c3;
}

/* .projectsDesc {
    font-weight: 400;
    font-size: 1rem;
    max-width: 45rem;
    margin-bottom: 15px;
    color: rgb(111, 119, 130);
  } */

.projectsImgs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 65rem;
}

.projectsImg {
  overflow: hidden;
  height: 20rem;
  width: 16rem;
  margin: 0.5rem;
  cursor: pointer;
}

.projectsBtn {
  margin: 3rem 0;
  padding: 0.5rem 2.5rem;
  border: none;
  border-radius: 2rem;
  background: white;
  font-size: 1rem;
}

@media screen and (max-width: 585px) {
  .projectsImg {
    height: 48vw;
    width: 44vw;
  }
}
