.contactPage {
  margin: 30px auto;
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactPageTitle {
  color: #1ab6c3;
}

.contactDesc {
  padding: 1rem;
  font-size: medium;
  font-weight: 300;
  color: rgb(111, 119, 130);
}

.contactForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}

.name,
.email,
.msg {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: rgb(111, 119, 130);
  border: 1px solid #1ab6c3;
  border-radius: 0.5rem;
  /* background: rgb(40, 40, 40); */
}

.submitBtn {
  background: #1ab6c3;
  color: white;
  border: none;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.75rem 3.5rem;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: #0e5e6c;
}
