.footer {
  width: 100vw;
  height: 4rem;
  color: rgb(111, 119, 130);
  border-top: 1px solid #1ab6c3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
}
